<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<table>
    <td>
        <form action="" method="POST">
        <tr>
            用户名：
        </tr>
        <tr>
            <input type="text" name="user"/>
        </tr>
    </td>
    <td>
        <tr>
            密码:
        </tr>
        <tr>
            <input type="password" name="password"/>
        </tr>
    </td>
    <td>
        <tr>
            平台:
        </tr>
        <tr>
            <input type="platform" name="platform"/>
        </tr>
    </td>
    <input type="submit" value="用户注册或登录统一接口"/>
    </form>
</table>
</body>
</html>