<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<table border="1">
    <form action="" method="POST">
    <tr>
        <td>
            选择文件：
        </td>
        <td>
            <input type="file" name="file" value="上传文件"/>
        </td>
    </tr>
        <tr>
            <td>
                评论数：
            </td>
            <td>
                评论数
            </td>
        </tr>
        <tr>
            <td>
                赞：
            </td>
            <td>
                赞
            </td>
        </tr>
        <tr>
            <td>
                最新操作时间：
            </td>
            <td>
                最新操作时间
            </td>
        </tr>

        <tr>
            <td>
                答案：
            </td>
            <td>
                答案
            </td>
        </tr>

    </form>
</table>
</body>
</html>