<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <h1>用户档案</h1>
<table border="1">
    <tr>
        <td>用户名:</td>
        <td>标签</td>
        <td>关注数</td>
        <td>粉丝数</td>
        <td>视频数</td>
        <td>创建时间</td>
    </tr>
    <tr>
        <td>{{ datas.name}}</td>
        <td>{{ datas.sign}}</td>
        <td>{{ datas.follower}}</td>
        <td>{{ datas.fans}}</td>
        <td>{{ datas.video}}</td>
        <td>{{ datas.create_date}}</td>
    </tr>
</table>
</body>
</html>